$white-color: #E8E8E8;
$grey-color: #989696;
$black-color: #171717;

.weather-component {
  background:
    linear-gradient(rgba(6, 6, 6, 0.98), rgb(4 4 4 / 88%)),
    url(../../assets/images/background.jpg);
  height: 100%;
  background-size: cover;
  color: $grey-color;

  .container {
    max-width: 500px;
    margin: auto;

    .header {
      text-align: center;
      padding: 100px 0;
      font-size: 4rem;
      font-weight: 100;
      color: $white-color;
    }

    .city-selection-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;

      .form-field {
        width: 100%;
      }

      ::ng-deep .mat-form-field-appearance-fill {
        .mat-form-field-flex {
          background-color: $grey-color;
        }
      }

      input.mat-input-element{
        color: $black-color;
      }
    }

    .weather-card {
      background: $black-color;
      color: $grey-color;

      .title {
        font-weight: 100;
        color: $white-color;
      }

      .subtitle {
        font-size: 14px
      }

      .content {
        .left-side {
          display: flex;
          align-items: center;
          justify-content: center;

          .text {
            font-size: 4rem;
            color: $white-color;
          }

          .image {
            margin-left: -15px;
          }
        }

        .right-side {
          text-align: right;
          line-height: 1;
        }
      }

      .description:first-letter {
        text-transform: uppercase
      }
    }
  }

}

.mat-option {
  background-color: $white-color;
}
